html {
  background-color: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.tagline {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

img, video {
  display: block;
  margin: auto;
}

footer {
  font-family: Verdana;
  text-align: right;
  color: gray;
}

#applink {
  font-family: Verdana;
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
